doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title schoo-kids
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header
      h1 小学生のプログラミング・スクール「スクーキッズ」
      a(href="#") 無料体験してみよう

      nav
        ul
          each list, i in ['facebook', 'twitter', 'pinterest', 'Line']
            li: a(href="#")= list
        h2
          a(href-"#")
            img(src="images/schoologo.svg" alt="スクーWebキャンパスロゴ画像")
        ul
          each list, i in [{text: 'カリキュラム', link: '#'}, {text: '教室', link: '#'}, {text: 'アクセス', link: '#'}, {text: 'お問い合わせ', link: '#'}]
            li: a(href="#{list.link}")= list.text

    main
      article
      article
      section

    aside

    footer

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
