doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title schoo-kids
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    header
      nav

    main
      article
      article
      section

    aside

    footer

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
